<header class="py-4 px-4 mx-auto max-w-4xl lg:pt-8 lg:pb- lg:px-6">
  <div class="mx-auto text-center">
    <h2
      class="mb-4 text-4xl md:text-6xl tracking-tight font-extrabold text-white"
    >
      <a href="">High Society 🗽</a>
    </h2>
    <p class="font-light sm:text-xl text-gray-400">
      Todos quieren pertenecer, pocos tienen la chance.
    </p>
  </div>
  <video class="w-full h-auto max-w-full py-8" controls>
    <source src="video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</header>
