---
import DjsCard from "./DjsCard.astro";
---

<section class="flex flex-col flex-wrap items-center justify-center">
  <h2 class="text-2xl md:text-4xl font-bold text-center text-white">
    Nuestros Djs
  </h2>
  <p
    class="max-w-xl text-md md:text-xl text-sky-200 text-center [text-wrap:balance] mt-4"
  >
    Los encargados de hacerte pasar una noche mágica ✨
  </p>
  <div
    class="grid grid-cols-2 my-8 sm:grid-cols-2 lg:grid-cols-4 gap-x-2 gap-y-2 md:gap-x-8 md:gap-y-8"
  >
    <DjsCard
      name="Gonza Paltenghi"
      location="Rosario del tala"
      instagram="https://www.instagram.com/GonzaPaltenghi"
      image="/my-repo/GonzaPaltenghi.png"
    />
    <DjsCard
      name="Rodrigo Veit"
      location="Macia"
      instagram="https://www.instagram.com/rodrigo_veit"
      image="/my-repo/RodrigoVeit.png"
    />
    <DjsCard
      name="Copy Legaria"
      location="Urdinarrain"
      instagram="https://www.instagram.com/copylegaria"
      image="/my-repo/CopyLegaria.png"
    />
    <DjsCard
      name="Mateo Bosc"
      location="Macia"
      instagram="https://www.instagram.com/mateobosc__"
      image="/my-repo/MateoBosc.png"
    />
    <DjsCard
      name="Joaquin Castillo"
      location="Basavilbaso"
      instagram="https://www.instagram.com/joaquiincastillo"
      image="/my-repo/JoaquinCastillo.png"
    />
    <DjsCard
      name="Paolo Maffei"
      location="Concepcion del Uruguay"
      instagram="https://www.instagram.com/paolomaffei_"
      image="/my-repo/PaoloMaffei.png"
    />
    <DjsCard name="🔒" location="Secret Location" instagram="" image="" />
    <DjsCard name="🔒" location="Secret Location" instagram="" image="" />
  </div>
</section>
