---
import PlaylistSpoty from "./PlaylistSpoty.astro";
---

<div class="flex flex-col items-center">
  <h3 class="py-4">
    Nuestros djs prepararon una seleccion especial de musica para acompa単arte en
    tus prrevias Nuestros djs prepararon una seleccion especial de musica para
    acompa単arte en tus prrevias Nuestros djs prepararon una seleccion especial
    de musica para acompa単arte en tus prrevias Nuestros djs prepararon una
    seleccion especial de musica para acompa単arte en tus prrevias
  </h3>
  <PlaylistSpoty />
</div>
